extends layout

block content
  center
    div Thank you for using our secret exchange to store your secrets
        br
        br
        ='Your secret s tored at:' 
        .secret_url= url
    .copy
    p Please not that you will only be able to rerieve this secret once
    
