# ==============================================
# Example environment file.
# Populate .env file and access values on server
# ==============================================

# Port the server will run under
PORT=3000

# Redis credentials (NOT USED RIGHT NOW)
REDDIS_HOST=localhost
REDDIS_USER=root
REDDIS_PASS=123
